footer { 
    background-color: aquamarine;
    min-height: 200px;
    grid-area: footer;
    border:1px solid #FFDB58;
    
    background-image: url(https://media.istockphoto.com/id/1047259374/photo/programming-source-code-abstract-background.jpg?s=612x612&w=0&k=20&c=07DAFiujCb58Zgu5ZArLprHiSKew5pCGqbTnop9GclA=);
    

}