.container{
   /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      grid-template-columns: 850px;
      grid-template-rows: 250px 1fr 1fr;
      grid-template-areas: 
      "hd"
      "sd" 
      "main"
      "ft";
      border: 2px solid yellow;


  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
      /* Set elements grid-area here */
      grid-area: hd;
  }

  .footer{
    /* Set elements grid-area here */
      grid-area: ft;
  }
  .feature{
    /* Set elements grid-area here */
/*      grid-area: feat;*/
  }
  .content{
    /* Set elements grid-area here */
      grid-area: main;
      height: 300px;
      background-size: contain;
    background-repeat: no-repeat;
      background-image: url(https://i.pinimg.com/564x/56/33/53/563353802b80f8850b4ad79f18f7edc5.jpg);
}
  @media(min-width:900px){
    .container{ 
            display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "feat feat feat feat feat feat feat feat"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid yellow; 

    }
  }



  
