.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-area:hd;
	background-color: lightgray;
	background-image: url(https://media.istockphoto.com/id/1479143249/photo/whats-your-story.webp?b=1&s=170667a&w=0&k=20&c=rliDamg5E7EMNAMWvJ5mxr5T8fhFEpVPk6kMcpqWlaM=);
}