/*This block of code is used to ensure media compatibility my this code on different display devices*/
  @media only screen and (max-width: 1100px) {
	body {
		font-family: 'Times New Roman', Times, serif;
	}
}
@media only screen and (max-width: 750px) {
	#nestedGrid {
		grid-template-columns: 1fr;

	}

}

@media only screen and (max-width: 600px) {
	body {
		display: grid;
		font-family: Arial, Helvetica, sans-serif;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"hd"
		"sd"
		"main"
		"ft";
	}
}
